name: Reusable Fork Docker CI

on:
  workflow_call:
    inputs:
      registry-internal:
        description: "Address of the internal image registry to push images to"
        type: string
        required: true
      service-account-username:
        description: "Name of the GH service account to push changes and open PRs"
        type: string
        required: true
      service-account-email:
        description: "E-mail, associated with the GH service account"
        type: string
        required: true
      # Docker images parameters
      components:
        description: "List of components that require image build and version update. Should be a json list of the format: [{'name': 'componentA', 'imageName': 'imageA', 'dockerfile': 'Dockerfile'}]"
        type: string
        required: true
      # Helm chart parameters
      chart-name:
        description: "Name used in network-operator for this chart"
        type: string
        required: false
      chart-path:
        description: "Path to chart files in the caller repo"
        type: string
        required: false
      exclude-chart-files:
        description: 'List of relative paths to exclude from updating in the network-operator. Should be a json list: ["Chart.yaml", "some-subfolder/file-to-exclude.yaml"]'
        type: string
        required: false
      # Testing parameters
      ref-name:
        description: "Name of the git ref to use if github object is not available"
        type: string
        required: false
      ref-type:
        description: "Type of the git ref to use if github object is not available"
        type: string
        required: false
      network-operator-repo:
        default: "network-operator"
        description: "Network Operator repo name, can be used as an override when running tests on reusable workflows"
        type: string
        required: false
    secrets:
      registry-username:
        description: "Credentials for the container registry"
        required: true
      registry-token:
        description: "Auth token for the container registry"
        required: true
      cicd-gh-token:
        description: "Github auth token with permissions to create pull requests in the network-operator repo"
        required: true
    outputs:
      docker-tag:
        description: "Docker tag used to build images"
        value: ${{ jobs.determine_docker_registry_and_tag.outputs.docker_tag }}

jobs:
  determine_ref:
    runs-on: ubuntu-latest
    steps:
      - run: |
    outputs:
      github_ref_name: ${{ inputs.ref-name || github.ref_name }}
      github_ref_type: ${{ inputs.ref-type || github.ref_type }}
  determine_docker_registry_and_tag:
    needs: determine_ref
    runs-on: ubuntu-latest
    env:
      REF_NAME: ${{ needs.determine_ref.outputs.github_ref_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - if: needs.determine_ref.outputs.github_ref_type == 'branch'
        name: Determine docker registry and tag (when git branch)
        run: |
          echo DOCKER_REGISTRY=${{ inputs.registry-internal }} | tee -a $GITHUB_ENV
          echo DOCKER_TAG=$(git rev-parse --short HEAD) | tee -a $GITHUB_ENV  # short git commit hash
      - if: needs.determine_ref.outputs.github_ref_type == 'tag'
        name: Determine docker registry and tag (when git tag)
        run: |
          echo DOCKER_REGISTRY=${{ inputs.registry-internal }} | tee -a $GITHUB_ENV
          echo DOCKER_TAG=$REF_NAME | tee -a $GITHUB_ENV
      - name: Store docker registry and tag for following jobs
        id: store-docker-registry-and-tag
        run: |
          echo DOCKER_REGISTRY=$DOCKER_REGISTRY | tee -a $GITHUB_OUTPUT
          echo DOCKER_TAG=$DOCKER_TAG | tee -a $GITHUB_OUTPUT
    outputs:
      docker_registry: ${{ steps.store-docker-registry-and-tag.outputs.DOCKER_REGISTRY }}
      docker_tag: ${{ steps.store-docker-registry-and-tag.outputs.DOCKER_TAG }}

  build_and_push_images:
    needs:
      - determine_ref
      - determine_docker_registry_and_tag
    runs-on: linux-amd64-cpu4
    permissions:
      contents: read
      id-token: write
      packages: write  # TODO: see if needed for all reusables or just testing
    env:
      REF_NAME: ${{ needs.determine_ref.outputs.github_ref_name }}
      BUILD_PLATFORMS: linux/amd64,linux/arm64
      DOCKER_REGISTRY: ${{ needs.determine_docker_registry_and_tag.outputs.docker_registry }}
      DOCKER_TAG: ${{ needs.determine_docker_registry_and_tag.outputs.docker_tag }}
      BASE_IMAGE_DOCA_FULL_RT_HOST: nvcr.io/nvstaging/doca/doca:3.3.0109-full-rt-host
      BASE_IMAGE_DOCA_BASE_RT_HOST: nvcr.io/nvstaging/doca/doca:3.3.0109-base-rt-host
      BASE_IMAGE_GO_DISTROLESS_DEV: nvcr.io/nvidia/distroless/go:v4.0.1-dev
      BASE_IMAGE_GO_DISTROLESS: nvcr.io/nvidia/distroless/go:v4.0.1
    strategy:
      matrix:
        component: ${{ fromJSON(inputs.components) }}
    steps:
      - name: Adjust image tag and build platforms for STIG/FedRAMP images
        id: set_tag_and_build_platforms
        run: |
          IMAGE_NAME="${{ matrix.component.imageName }}"

          case "$IMAGE_NAME" in
            *stig*)
              ;;
            *)
              echo "Image is not STIG, nothing to change."
              exit 0
              ;;
          esac

          BASE_TAG="${{ env.DOCKER_TAG }}"
          BUILD_PLATFORMS="${{ env.BUILD_PLATFORMS }}"

          NEW_TAG="${BASE_TAG}-stig-fips"
          NEW_BUILD_PLATFORMS="linux/amd64"

          echo "DOCKER_TAG=$NEW_TAG" >> $GITHUB_ENV
          echo "BUILD_PLATFORMS=$NEW_BUILD_PLATFORMS" >> $GITHUB_ENV
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.github_ref_name }}
      - name: Setup Go Proxy
        id: setup-go-proxy
        uses: nv-gha-runners/setup-artifactory-go-proxy@main
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config: /etc/buildkit/buildkitd.toml
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ secrets.registry-username }}
          password: ${{ secrets.registry-token }}
      - uses: docker/build-push-action@v4
        env:
          GOPROXY: ${{ steps.setup-go-proxy.outputs.goproxy-url || 'direct' }}
        with:
          platforms: ${{ env.BUILD_PLATFORMS }}
          context: .
          file: ${{ matrix.component.dockerfile }}
          tags: ${{ env.DOCKER_REGISTRY }}/${{ matrix.component.imageName }}:${{ env.DOCKER_TAG }}
          push: true
          build-args: |
            GOPROXY=${{ env.GOPROXY }}
            BASE_IMAGE_DOCA_FULL_RT_HOST=${{ env.BASE_IMAGE_DOCA_FULL_RT_HOST }}
            BASE_IMAGE_DOCA_BASE_RT_HOST=${{ env.BASE_IMAGE_DOCA_BASE_RT_HOST }}
            BASE_IMAGE_GO_DISTROLESS_DEV=${{ env.BASE_IMAGE_GO_DISTROLESS_DEV }}
            BASE_IMAGE_GO_DISTROLESS=${{ env.BASE_IMAGE_GO_DISTROLESS }}

  update_component_version_in_network_operator:
    needs:
      - determine_ref
      - determine_docker_registry_and_tag
      - build_and_push_images
    if: needs.determine_ref.outputs.github_ref_type == 'branch'
    runs-on: ubuntu-latest
    env:
      GIT_SHA_SHORT: ${{ needs.determine_docker_registry_and_tag.outputs.docker_tag }}
      REF_NAME: ${{ github.ref_name }}
      GH_TOKEN: ${{ secrets.cicd-gh-token }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.cicd-gh-token }}
          repository: Mellanox/${{ inputs.network-operator-repo }}
          ref: master
          persist-credentials: true
          fetch-depth: 0
      - name: Prepare component name(s)
        run: |
          component_names=$(echo '${{ inputs.components }}' | jq -r '.[].name' | tr '\n' ' ')
          test -n "$component_names"  # check not empty
          echo COMPONENT_NAMES=$component_names | tee -a $GITHUB_ENV
      - name: Update version in hack/release.yaml
        id: update-hack-release-yaml
        run: |
          for component_name in $COMPONENT_NAMES; do
            echo "Updating version for $component_name"
            yq -i ".$component_name.version = \"${GIT_SHA_SHORT}\"" hack/release.yaml
          done
          make release-build

          if git diff --exit-code --color=always; then
            echo UPDATE_BRANCH= | tee -a $GITHUB_ENV
          else
            echo UPDATE_BRANCH=ci/update-${{ github.event.repository.name }}-version-to-$GIT_SHA_SHORT | tee -a $GITHUB_ENV
          fi
      - name: Create CI branch
        if: env.UPDATE_BRANCH != ''
        run: |
          git config user.name "nvidia-ci-cd"
          git config user.email "svc-cloud-orch-gh@nvidia.com"
          git checkout -b $UPDATE_BRANCH
      - name: Commit and push changes
        if: env.UPDATE_BRANCH != ''
        run: |
          git diff --color=always
          git add .
          git commit -sm "ci: update ${{ github.event.repository.name }} version to $GIT_SHA_SHORT"
          ${{ env.TEST_RUN == 'true' && 'echo TEST_RUN: would have run: ' || '' }}git push -u origin $UPDATE_BRANCH
      - name: Create Pull Request
        if: env.UPDATE_BRANCH != ''
        run: |
          gh pr create ${{ env.TEST_RUN == 'true' && '--dry-run' || '' }} \
            --head "$UPDATE_BRANCH" \
            --base master \
            --title "ci: update ${{ github.event.repository.name }} version to $GIT_SHA_SHORT (of branch $REF_NAME)" \
            --body "Automated CI update for component '${{ github.event.repository.name }}', created by [GitHub actions reusable workflow run $GITHUB_RUN_ID]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID) for release branch $REF_NAME." \
            --reviewer e0ne --reviewer almaslennikov --reviewer rollandf --reviewer heyvister1

  update-issue-status:
    if: always()
    needs:
      - determine_ref
      - determine_docker_registry_and_tag
      - build_and_push_images
      - update_component_version_in_network_operator
    uses: ./.github/workflows/issue-status-update-reusable.yml
    with:
      workflow-name: fork-ci
      is-passing: ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
      workflow-run-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
    secrets:
      gh-token: ${{ secrets.cicd-gh-token }}
