name: Reusable Fork Docker CI

on:
  workflow_call:
    inputs:
      registry-internal:
        description: "Address of the internal image registry to push images to"
        type: string
        required: true
      service-account-username:
        description: "Name of the GH service account to push changes and open PRs"
        type: string
        required: true
      service-account-email:
        description: "E-mail, associated with the GH service account"
        type: string
        required: true
      # Docker images parameters
      components:
        description: "List of components that require image build and version update. Should be a json list of the format: [{'name': 'componentA', 'imageName': 'imageA', 'dockerfile': 'Dockerfile'}]"
        type: string
        required: true
      # Helm chart parameters
      chart-name:
        description: "Name used in network-operator for this chart"
        type: string
        required: false
      chart-path:
        description: "Path to chart files in the caller repo"
        type: string
        required: false
      exclude-chart-files:
        description: 'List of relative paths to exclude from updating in the network-operator. Should be a json list: ["Chart.yaml", "some-subfolder/file-to-exclude.yaml"]'
        type: string
        required: false
      # Testing parameters
      ref-name:
        description: "Name of the git ref to use if github object is not available"
        type: string
        required: false
      ref-type:
        description: "Type of the git ref to use if github object is not available"
        type: string
        required: false
      network-operator-repo:
        description: "Network Operator repo url, can be used in tests"
        type: string
        required: false
    secrets:
      registry-username:
        description: "Credentials for the container registry"
        required: true
      registry-token:
        description: "Auth token for the container registry"
        required: true
      cicd-gh-token:
        description: "Github auth token with permissions to create pull requests in the network-operator repo"
        required: true
      goproxy:
        description: "GOPROXY url for go modules"
        required: false
    outputs:
      docker-tag:
        description: "Docker tag used to build images"
        value: ${{ jobs.determine_docker_registry_and_tag.outputs.docker_tag }}

jobs:
  determine_ref:
    runs-on: ubuntu-latest
    steps:
      - run: |
    outputs:
      github_ref_name: ${{ inputs.ref-name || github.ref_name }}
      github_ref_type: ${{ inputs.ref-type || github.ref_type }}
  determine_docker_registry_and_tag:
    needs: determine_ref
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - if: needs.determine_ref.outputs.github_ref_type == 'branch'
        name: Determine docker registry and tag (when git branch)
        run: |
          echo DOCKER_REGISTRY=${{ inputs.registry-internal }} | tee -a $GITHUB_ENV
          echo DOCKER_TAG=$(git rev-parse --short HEAD) | tee -a $GITHUB_ENV  # short git commit hash
      - if: needs.determine_ref.outputs.github_ref_type == 'tag'
        name: Determine docker registry and tag (when git tag)
        run: |
          echo DOCKER_REGISTRY=${{ inputs.registry-internal }} | tee -a $GITHUB_ENV
          echo DOCKER_TAG=${{ needs.determine_ref.outputs.github_ref_name }} | tee -a $GITHUB_ENV
      - name: Store docker registry and tag for following jobs
        id: store-docker-registry-and-tag
        run: |
          echo DOCKER_REGISTRY=$DOCKER_REGISTRY | tee -a $GITHUB_ENV
          echo DOCKER_TAG=$DOCKER_TAG | tee -a $GITHUB_ENV
    outputs:
      docker_registry: ${{ steps.store-docker-registry-and-tag.outputs.DOCKER_REGISTRY }}
      docker_tag: ${{ steps.store-docker-registry-and-tag.outputs.DOCKER_TAG }}

  build_and_push_images:
    needs:
      - determine_ref
      - determine_docker_registry_and_tag
    runs-on: linux-amd64-cpu4
    env:
      BUILD_PLATFORMS: linux/amd64,linux/arm64
      DOCKER_REGISTRY: ${{ needs.determine_docker_registry_and_tag.outputs.docker_registry }}
      DOCKER_TAG: ${{ needs.determine_docker_registry_and_tag.outputs.docker_tag }}
      GOPROXY: ${{ secrets.goproxy || 'direct' }}
      BASE_IMAGE_DOCA_FULL_RT_HOST: nvcr.io/nvidia/doca/doca:3.1.0-full-rt-host
      BASE_IMAGE_DOCA_BASE_RT_HOST: nvcr.io/nvidia/doca/doca:3.1.0-base-rt-host
      BASE_IMAGE_GO_DISTROLESS_DEV: nvcr.io/nvidia/distroless/go:v3.2.1-dev
      BASE_IMAGE_GO_DISTROLESS: nvcr.io/nvidia/distroless/go:v3.2.1
    strategy:
      matrix:
        component: ${{ fromJSON(inputs.components) }}
    steps:
      - name: Adjust image tag and build platforms for STIG/FedRAMP images
        id: set_tag_and_build_platforms
        run: |
          IMAGE_NAME="${{ matrix.component.imageName }}"

          case "$IMAGE_NAME" in
            *stig*)
              ;;
            *)
              echo "Image is not STIG, nothing to change."
              exit 0
              ;;
          esac

          BASE_TAG="${{ env.DOCKER_TAG }}"
          BUILD_PLATFORMS="${{ env.BUILD_PLATFORMS }}"

          NEW_TAG="${BASE_TAG}-stig-fips"
          NEW_BUILD_PLATFORMS="linux/amd64"

          echo "DOCKER_TAG=$NEW_TAG" >> $GITHUB_ENV
          echo "BUILD_PLATFORMS=$NEW_BUILD_PLATFORMS" >> $GITHUB_ENV
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.determine_ref.outputs.github_ref_name }}
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config: /etc/buildkit/buildkitd.toml
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ secrets.registry-username }}
          password: ${{ secrets.registry-token }}
      - uses: docker/build-push-action@v4
        with:
          platforms: ${{ env.BUILD_PLATFORMS }}
          context: .
          file: ${{ matrix.component.dockerfile }}
          tags: ${{ env.DOCKER_REGISTRY }}/${{ matrix.component.imageName }}:${{ env.DOCKER_TAG }}
          push: false  # TODO: revert to true after testing locally
          build-args: |
            BASE_IMAGE_DOCA_FULL_RT_HOST=${{ env.BASE_IMAGE_DOCA_FULL_RT_HOST }}
            BASE_IMAGE_DOCA_BASE_RT_HOST=${{ env.BASE_IMAGE_DOCA_BASE_RT_HOST }}
            BASE_IMAGE_GO_DISTROLESS_DEV=${{ env.BASE_IMAGE_GO_DISTROLESS_DEV }}
            BASE_IMAGE_GO_DISTROLESS=${{ env.BASE_IMAGE_GO_DISTROLESS }}

  update_component_version_in_network_operator:
    needs:
      - determine_ref
      - determine_docker_registry_and_tag
      - build_and_push_images
    if: needs.determine_ref.outputs.github_ref_type == 'branch'
    runs-on: ubuntu-latest

    permissions:  # TODO: check if this block is required
      contents: write
      pull-requests: write

    env:
      COMPONENT_REPO_NAME: ${{ github.event.repository.name }}
      GIT_SHA_SHORT: ${{ needs.determine_docker_registry_and_tag.outputs.docker_tag }}
      REF_NAME: ${{ github.ref_name }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout network-operator repo
        uses: actions/checkout@v4
        with:
          repository: Mellanox/network-operator
          token: ${{ secrets.cicd-gh-token }}
          fetch-depth: 0

      - name: Proceed only when on latest release branch
        id: check_latest_release_branch
        run: |
          latest_release_branch=$(git branch -a | grep 'network-operator-' | cut -d '/' -f 3- | sort -V | tail -1)  # example: network-operator-25.10.x

          echo "Latest release branch is $latest_release_branch"
          echo "Current branch is $REF_NAME"

          if [ "$REF_NAME" != "$latest_release_branch" ]; then
            echo "Not on latest release branch. Exiting this job."
            exit 0
          fi

          echo "IS_LATEST_RELEASE_BRANCH=true" | tee -a $GITHUB_ENV

      - name: Lookup component name
        if: steps.check_latest_release_branch.outputs.IS_LATEST_RELEASE_BRANCH == 'true'
        id: lookup_component_name
        run: |
          component_name=$(yq e "to_entries | map(select(.value.sourceRepository == \"$COMPONENT_REPO_NAME\")) | .[].key" hack/release.yaml)  # example: spectrumXOperator
          echo "COMPONENT_NAME=$component_name" | tee -a $GITHUB_ENV

      - name: Update version in hack/release.yaml
        if: steps.check_latest_release_branch.outputs.IS_LATEST_RELEASE_BRANCH == 'true'
        run: |
          yq -i ".$COMPONENT_NAME.version = \"${GIT_SHA_SHORT}\"" hack/release.yaml
          echo DEBUG0  # TODO: confirm change
          git diff     # TODO: confirm change

          echo NEW_BRANCH=ci/update-$COMPONENT_NAME-version-to-$GIT_SHA_SHORT | tee -a $GITHUB_ENV

      - name: Create CI branch
        if: steps.check_latest_release_branch.outputs.IS_LATEST_RELEASE_BRANCH == 'true'
        run: |
        env:
          git config user.name "nvidia-ci-cd"
          git config user.email "svc-cloud-orch-gh@nvidia.com"
          git checkout -b "$NEW_BRANCH"

      - name: Commit and push changes
        if: steps.check_latest_release_branch.outputs.IS_LATEST_RELEASE_BRANCH == 'true'
        run: |
          git add hack/release.yaml
          git commit -m "ci: update $COMPONENT_REPO_NAME version to $GIT_SHA_SHORT"
          git push origin HEAD  # TODO: confirm ok to push to origin (or fork remote needed)

      - name: Create Pull Request
        if: steps.check_latest_release_branch.outputs.IS_LATEST_RELEASE_BRANCH == 'true'
        run: |
          gh pr create \
            --title "Update $COMPONENT_REPO_NAME version to $GIT_SHA_SHORT" \
            --body "Automated CI update for component '$COMPONENT_REPO_NAME'." \
            --base master \
            --head "$NEW_BRANCH" --dry-run  # TODO: remove dry-run after development

